<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="ISO-8859-1">
    <title>Index page</title>
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
</head>

<body>
    <div class="container">
        <h2 class="text-info text-center">Spring Is Working</h2>
        <hr/>
        <div id="welcome to Springboot">
            <p><a href="/welcome" class="text-primary">Click here to read welcome message.</a></p>
        </div>
    </div>
</body>

</html>
